

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 80%;
}

.book-info {
  width: 80vw;
}

.page-title {
  text-align: center;
}

.book-list {
  border: 1px solid #000;
  
}

.book {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.book:nth-child(odd) {
  background-color: rgb(221,221,221);
}

